$row-padding: 2px;
$hover-padding: 3px;

.rowWrapper {
  padding: $row-padding $row-padding $row-padding 0;
  height: 100%;
  box-sizing: border-box;
  cursor: move;

  &:hover {
    opacity: 0.7;
    padding: $hover-padding $hover-padding $hover-padding 0;
  }

  &:active {
    opacity: 1;
  }
}

.rowWrapperDragDisabled {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}

.row {
  height: 100%;
  white-space: nowrap;
  display: flex;

  & > * {
    box-sizing: border-box;
  }
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rowLandingPad {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 100%;
  * {
    opacity: 0 !important;
  }

  &::before {
    background-color: lightblue;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rowCancelPad {
  @extend .rowLandingPad;

  &::before {
    background-color: #e6a8ad;
  }
}

/**
 * Nodes matching the search conditions are highlighted
 */
.rowSearchMatch {
  outline: solid 1px #0080ff;
}

/**
 * The node that matches the search conditions and is currently focused
 */
.rowSearchFocus {
  outline: solid 1px #fc6421;
}

%rowItem {
  display: inline-block;
  vertical-align: middle;
}

.rowContents {
  @extend %rowItem;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowLabel {
  @extend %rowItem;
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
}

.rowToolbar {
  @extend %rowItem;
  flex: 0 1 auto;
  display: flex;
}

.toolbarButton {
  @extend %rowItem;
  cursor: pointer;
  background: none;
  border: none;
  color: #9b9a9b;
  align-items: center;
  display: flex;
  &:focus {
    outline: none !important;
  }
}

.rowTitle {
  font-weight: bold;
}

.rowTitleWithSubtitle {
  display: block;
}

.contentContainer {
  display: flex;
  flex-grow: 1;
}
